@use "../../presets" as *;
@use "../../mixins" as *;

.header-navbar {
  &__list {
    @include unlist;
    display: flex;
    column-gap: $gap;
  }

  &__item {
  }

  &__link {
    display: block;
    padding: 0.5em $gap;
  }
}
